/out/
/target/
/fastdoubleparser/target/
/fastdoubleparser-java8/target/
/fastdoubleparser-java17/target/
/fastdoubleparser-java11/target/
/fastdoubleparser-java19/target/
/fastdoubleparser-dev/target/
/fastdoubleparserdemo/target/
/fastdoubleparserdemo-java8/target/
/fastdoubleparserdemo-java11/target/
/fastdoubleparserdemo-java17/target/
/fastdoubleparserdemo-java19/target/
/fastdoubleparserdemo-dev/target/
/lib/
