/out/
/target/
/fastdoubleparser/target/
/fastdoubleparser-java8/target/
/fastdoubleparser-java17/target/
/fastdoubleparser-java11/target/
/fastdoubleparser-java19/target/
/fastdoubleparser-dev/target/
/fastdoubleparserdemo/target/
/fastdoubleparserdemo-java8/target/
/fastdoubleparserdemo-java11/target/
/fastdoubleparserdemo-java17/target/
/fastdoubleparserdemo-java19/target/
/fastdoubleparserdemo-dev/target/
/lib/
/fastdoubleparser-java19/.flattened-pom.xml
/.flattened-pom.xml
/fastdoubleparser/.flattened-pom.xml
/fastdoubleparser-dev/.flattened-pom.xml
/fastdoubleparser-java8/.flattened-pom.xml
/fastdoubleparser-java11/.flattened-pom.xml
/fastdoubleparser-java17/.flattened-pom.xml
/fastdoubleparserdemo/.flattened-pom.xml
/fastdoubleparserdemo-dev/.flattened-pom.xml
/fastdoubleparserdemo-java8/.flattened-pom.xml
/fastdoubleparserdemo-java11/.flattened-pom.xml
/fastdoubleparserdemo-java17/.flattened-pom.xml
/fastdoubleparserdemo-java19/.flattened-pom.xml
/.idea/shelf/
/.idea/workspace.xml
